
*.db
*.db-shm
*.obj
*.exe
*.ilk
*.log
*.json
*.cmake
*.manifest
*.res
*.pdb
*.ninja
*.rc
*.check_cache
*.bin
*.db-wal
*.opendb
*Generator/build
Generator/.vs/Generator/v17/.suo
Generator/.vs/CMake Overview
*.sqlite
Generator/out/build/x64-Debug/.ninja_deps
Generator/out/build/x64-Debug/.ninja_log
Generator/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdC/CMakeCCompilerId.c
Generator/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Generator/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
Generator/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
Generator/.vs/Generator/v17/ipch/AutoPCH/212cbb86d33c2981/SPHERE.ipch
Generator/.vs/Generator/v17/ipch/AutoPCH/4589d241c85a0727/WRITER.ipch
Generator/.vs/Generator/v17/ipch/AutoPCH/a6dea32fa77e947/GENERATE.ipch
Generator/.vs/Generator/v17/ipch/AutoPCH/d2596ac75b9cc52f/CONE.ipch
*.ipch
Generator/.vs/Generator/v16/.suo
Engine/build/ALL_BUILD.vcxproj
Engine/build/ALL_BUILD.vcxproj.filters
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/CMakeCCompilerId.c
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/CompilerIdC.vcxproj
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.exe.recipe
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Engine/build/CMakeFiles/3.23.0-rc1/Debug/VCTargetsPath.recipe
Engine/build/CMakeFiles/3.23.0-rc1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Engine/build/CMakeFiles/3.23.0-rc1/VCTargetsPath.vcxproj
Engine/build/CMakeFiles/49f6fcd795a4ceb6f1b0005d99b8d28e/generate.stamp.rule
Engine/build/CMakeFiles/generate.stamp
Engine/build/CMakeFiles/generate.stamp.depend
Engine/build/CMakeFiles/generate.stamp.list
Engine/build/engine.sln
Engine/build/engine.vcxproj
Engine/build/engine.vcxproj.filters
Engine/build/glut32.dll
Engine/build/ZERO_CHECK.vcxproj
Engine/build/ZERO_CHECK.vcxproj.filters
Generator/out/build/x64-Debug/VSInheritEnvironments.txt
Generator/out/build/x64-Debug/texteSphere.txt
Generator/out/build/x64-Debug/texteCone.txt
Generator/out/build/x64-Debug/teste.txt
Generator/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
Generator/out/build/x64-Debug/CMakeCache.txt
Engine/CMakeCache.txt
Engine/build/CMakeFiles/TargetDirectories.txt
Engine/build/CMakeFiles/3.23.0-rc1/VCTargetsPath.txt
Engine/build/CMakeCache.txt
Engine/build/.vs/engine/v17/.suo
Engine/build/engine.dir/Debug/engine.exe.recipe
Engine/build/engine.dir/Debug/engine.tlog/CL.command.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/CL.read.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/CL.write.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/CustomBuild.command.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/CustomBuild.read.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/CustomBuild.write.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/engine.lastbuildstate
Engine/build/engine.dir/Debug/engine.tlog/link.command.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/link.read.1.tlog
Engine/build/engine.dir/Debug/engine.tlog/link.write.1.tlog
Engine/build/engine.dir/Release/engine.exe.recipe
Engine/build/engine.dir/Release/engine.tlog/CL.command.1.tlog
Engine/build/engine.dir/Release/engine.tlog/CL.read.1.tlog
Engine/build/engine.dir/Release/engine.tlog/CL.write.1.tlog
Engine/build/engine.dir/Release/engine.tlog/CustomBuild.command.1.tlog
Engine/build/engine.dir/Release/engine.tlog/CustomBuild.read.1.tlog
Engine/build/engine.dir/Release/engine.tlog/CustomBuild.write.1.tlog
Engine/build/engine.dir/Release/engine.tlog/engine.lastbuildstate
Engine/build/engine.dir/Release/engine.tlog/link.command.1.tlog
Engine/build/engine.dir/Release/engine.tlog/link.read.1.tlog
Engine/build/engine.dir/Release/engine.tlog/link.write.1.tlog
Engine/build/engine.vcxproj.user
Engine/build/test_1_1.xml
Engine/build/teste.txt
Engine/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
Engine/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
Engine/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
Engine/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
Engine/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Engine/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.recipe
Engine/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
Engine/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
Engine/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
Engine/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
